/build
/latex/proposal.aux
/latex/proposal.bbl
/latex/proposal.blg
/latex/proposal.log
/latex/proposal.pdf
/latex/proposal.tex.backup
/latex/final-report.aux
/latex/final-report.bbl
/latex/final-report.blg
/latex/final-report.log
/latex/final-report.pdf
/latex/tex.backup
/cudalang/cudalang.cpp
qtcreator-build/
.DS_Store
.*.swp
.*.swo
*.pyc
CMakeLists.txt.user
