/* @override http://chestnutcode.org/code.css */

pre.ChestnutCode { 
	font-family: monospace;
	color: #000000;
	background-color: #fffeff;
	padding: 15px;
	border: 1px solid #e4e4e4;
}

.Keyword {
	color: #e00f0f;
	font-weight: bold;
}
.String { color: #4a708b; }
.Identifier { color: #458b74; }
.Type { color: #008b00; font-weight: bold; }
